*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header
{
    width: 100%;
    height: 100vh;
    background-image: url(111.jpg);
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding: 0 7%;
    /* add transition */
    transition: background-image 1s;
}

nav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo
{
    margin-left: 20px;
    margin-top: 20px;
    width: 100px;
    cursor: pointer;
}

nav ul
{
    flex: 1;
    text-align: center;
}

nav ul li
{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a
{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

nav .btn
{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 30px;
    margin-right: 7%;
}

.info
{
    width: 100%;
    padding: 0 7%;
    display: flex;
    align-items: center;
    color: #fff;
    position: fixed;
    bottom: 50px;
    left: 0;
}

.info div
{
    margin: 0 20px;
}

.info div h2
{
    font-size: 45px;
    font-weight: 400;
}

.info .line
{
    flex: 1;
    background: #fff;
    height: 4px;
}